<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aojing.redstore.goods.dao.GoodsHotSellMapper" >
  <resultMap id="BaseResultMap" type="com.aojing.redstore.goods.pojo.GoodsHotSell" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hot_sell_id" property="hotSellId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="hot_set_desc" property="hotSetDesc" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hot_sell_id, goods_id, menu_id, hot_set_desc, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_hot_sell_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_hot_sell_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aojing.redstore.goods.pojo.GoodsHotSell" >
    insert into goods_hot_sell_tb (id, hot_sell_id, goods_id, 
      menu_id, hot_set_desc, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{hotSellId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{menuId,jdbcType=VARCHAR}, #{hotSetDesc,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aojing.redstore.goods.pojo.GoodsHotSell" >
    insert into goods_hot_sell_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotSellId != null" >
        hot_sell_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="hotSetDesc != null" >
        hot_set_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotSellId != null" >
        #{hotSellId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="hotSetDesc != null" >
        #{hotSetDesc,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aojing.redstore.goods.pojo.GoodsHotSell" >
    update goods_hot_sell_tb
    <set >
      <if test="hotSellId != null" >
        hot_sell_id = #{hotSellId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="hotSetDesc != null" >
        hot_set_desc = #{hotSetDesc,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aojing.redstore.goods.pojo.GoodsHotSell" >
    update goods_hot_sell_tb
    set hot_sell_id = #{hotSellId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR},
      hot_set_desc = #{hotSetDesc,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>